/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Poppins', sans-serif;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: goldenrod;
  font-size: 16px;
}

/* Button reset */
button {
  background: transparent;
  border: none;
  background-color:goldenrod;
}


/* Hero section */

#hero {
  background-image: url("/public/assets/imgs/hero2.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px; 
}

#hero h1 {
  font-size: 3rem; 
  margin-bottom: 20px; 
}

#hero p {
  font-size: 1.2rem; 
  max-width: 600px; 
  margin: 0; 
}


/* About section */


#about {
  margin-top: 50px;
}

#about h2 {
  text-align: center; 
  margin-bottom: 100px;
}

#about .about-content {
  padding-left: 100px;
  text-align: left; 
  
}

#about h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: goldenrod; 
  padding-left: 100px;
}

#about ul {
  padding-left: 100px;
}

#about ul li {
  line-height: 1.6;
  margin-bottom: 10px; 
}

.about-image {
  max-width: 100%; 
  height: auto; 
  margin-bottom: 20px;
  border-radius: 10px; 
}

/* concept section */

#concept {
  margin-top: 150px;
}

#concept h2 {
  text-align: center; 
  margin-bottom: 100px;
}

#concept p {
  font-size: 16px;
  line-height: 1.5;
  padding-right: 100px;
  text-align: left;
}

#concept .row {
  display: flex;
  align-items: flex-start;
}

#concept .col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concept-img {
  max-width: 100%; 
  height: auto; 
  margin-bottom: 20px;
  border-radius: 10px; 
}



/* contact section */

#contact {
  background-image: url("/public/assets/imgs/hero1.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  padding: 10px; 
  margin-top: 50px;
}

#contact h2 {
  margin-top: 50px;
  margin-bottom: 80px !important; 
}

#contact .form-group {
  margin-bottom: 15px; 
}

#contact .contact-info {
  padding: 20px;
  background-color:  rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

#contact .contact-info h4 {
  margin-top: 20px;
  color: goldenrod; 
}

#contact .social-icons {
  display: flex;
  gap: 10px; 
  margin-top: 20px;
}

#contact .social-icon {
  font-size: 20px;
  color: #333;
}

#contact .social-icon:hover {
  color: goldenrod;
}

#contact button[type="submit"] {
  background-color: goldenrod; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}


#contact button[type="submit"]:hover {
  background-color: darkgoldenrod; 
}
