/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: goldenrod;
  font-size: 16px;
}

/* Button reset */
button {
  background: transparent;
  border: none;
}


/* Hero section */

#hero {
  background-image: url("/public/assets/imgs/coper.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; 
}
