/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  color: goldenrod;
  font-size: 16px;
}

/* Button reset */
button {
  background: transparent;
  border: none;
}


/* Hero section */

#hero {
  background-image: url("/public/assets/imgs/hero2.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  color: white; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px; 
}

#hero h1 {
  font-size: 3rem; 
  margin-bottom: 20px; 
}

#hero p {
  font-size: 1.2rem; 
  max-width: 600px; 
  margin: 0; 
}

/* concept section */

#concept {
  margin-top: 50px;
}

#concept h2 {
  text-align: center; 
  margin-bottom: 100px;
}

#concept p {
  font-size: 16px;
  line-height: 1.5;
}

#concept img {
  max-width: 300px;
  max-height: 200px;
  height: auto;
  display: block;
}

#concept .row {
  display: flex;
  align-items: flex-start;
}

#concept .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#concept .img-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.col-md-6 img {
  display: block;
  margin-left: auto; 
}

.img-left {
  margin-left: 50px;
}

.img-right {
  margin-right: 150px;
}

