
.top-area {
    position: relative;
    z-index: 9999;
}

nav.navbar.bootsnav.no-background {
    background-color: #fff;
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
}

.navbar-brand {
    display: inline-block;
    color: #d92cf9;
    font-size: 20px;
    font-weight: 600;
    padding: 33px 0px 57px;
    text-transform: uppercase;
}

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 35px 20px;
    transition: color 0.3s linear;
}

.navbar-nav > li > a:hover,
.navbar-nav > li.active > a {
    color: #d92cf9;
}

.navbar-toggle {
    background-color: transparent;
    border: 1px solid #d92cf9;
    padding: 10px;
}

.navbar-toggle i {
    color: #d92cf9;
}

/* Smooth scroll class */
.smooth-menu {
    scroll-behavior: smooth;
}

/* Responsive Scroll */
.menu-ui-design {
    overflow-y: scroll;
    height: 350px;
}
.menu-ui-design::-webkit-scrollbar {
    width: 5px;
}
.menu-ui-design::-webkit-scrollbar-thumb {
    background-color: #d92cf9;
}
